{% extends 'base.html' %} {% load static %} {% block myblock %}
<!-- Service-->
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container my-5 py-5">
    <div class="row align-items-center g-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-3 text-white animated slideInLeft">
          "Home-made food is the heart's own recipe, a blend of love and
          tradition that nourishes both body and soul."
        </h1>
        <p class="text-white animated slideInLeft mb-4 pb-2"></p>
        <a
          href="{% url 'about' %}"
          class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft"
          >About Us</a
        >
      </div>
      <div class="col-lg-6 text-center text-lg-end overflow-hidden">
        <img
          class="img-fluid"
          src="{% static 'img/Mutton-thali.png' %}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Our Services
      </h5>
      <h1 class="mb-5">Explore Services Provided by Our Canteen</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fas fa-utensils fa-3x text-primary mb-4"></i>
            <h5>Traditional Cooks</h5>
            <p>
              Our team of chefs is a seasoned blend of culinary geniuses,
              passionately crafting delicious, heartwarming and tempting local
              dishes that taste like they are cooked from home.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fas fa-wine-glass-alt fa-3x text-primary mb-4"></i>
            <h5>Quality Food</h5>
            <p>
              Serving up a symphony of flavors, our commitment to homely food
              shines through every crafted dish, ensuring an extraordinary
              canteen experience that will leave you reminding of home.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fas fa-pizza-slice fa-3x text-primary mb-4"></i>
            <h5>Online Order</h5>
            <p>
              Embrace the convenience of online ordering and have our delectable
              ready at the counter.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fas fa-calendar-alt fa-3x text-primary mb-4"></i>
            <h5>Booking Order</h5>
            <p>
              Embrace the convenience of booking online and have our tables
              ready for ordering.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5" id="about">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.1s"
              src="{% static 'img/about-1.jpg' %}"
            />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.3s"
              src="{% static 'img/about-2.jpg' %}"
              style="margin-top: 57%"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.5s"
              src="{% static 'img/about-3.jpg' %}"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.7s"
              src="{% static 'img/about-4.jpeg' %}"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h5
          class="section-title ff-secondary text-start text-primary fw-normal"
        >
          About Us
        </h5>
        <h1 class="mb-4">
          Welcome to
          <i class="fa fa-utensils text-primary me-2"></i>K & S Restro and Cafe
        </h1>
        <p class="mb-4">
          Welcome to K & S Restro and Cafe, your go-to destination for a
          delightful culinary experience. At K & S Restro and Cafe, we pride
          ourselves on offering a diverse menu crafted with fresh, locally
          sourced ingredients.
          <br /><br />
          Our dedicated team of chefs ensures a perfect blend of traditional
          favorites and innovative dishes, providing a satisfying dining
          experience for all. With a focus on efficiency and community, K & S
          Cafe and Restro is not just a restaurant it's a hub where good food
          meets great company. Join us for a quick bite or a leisurely meal, and
          discover the essence of K & S Restro and Cafe where flavor and
          community converge.
        </p>
        <div class="row g-4 mb-4">
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                4
              </h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                8
              </h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Family Chefs</h6>
              </div>
            </div>
          </div>
        </div>
        <a
          href="{% url 'about' %}"
          class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft"
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Food Menu
      </h5>
      <h1 class="mb-5">Popular Items</h1>
    </div>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            {% for item in items %} {% if forloop.counter0 < 4 %}
            <div class="col-lg-6">
              <div class="d-flex align-items-center">
                {% if item.image %}
                <img
                  class="flex-shrink-0 img-fluid rounded"
                  src="{{ item.image.url }}"
                  alt=""
                  style="width: 80px"
                />
                {% endif %}
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span>{{ item.name }}</span>
                    <span class="text-primary"
                      >{{ currency_symbol }}{{ item.price|floatformat:2 }}</span
                    >
                  </h5>
                  <button
                    data-product="{{ item.id }}"
                    data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart"
                  >
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl pt-5 pb-3">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Team Members
      </h5>
    </div>

    <div class="row g-4">
      {% for team in teams %}
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <h5 class="mb-0">{{ team.name }}</h5>
          <small>{{ team.designation }}</small>
          <div class="d-flex justify-content-center mt-3">
            <a
              class="btn btn-square btn-primary mx-1"
              href="{{ team.facebook }}"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-primary mx-1"
              href="{{ team.linkedin }}"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="btn btn-square btn-primary mx-1"
              href="{{ team.instagram }}"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-xxl pt-5 pb-3">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Testimonial
      </h5>
    </div>

    <div class="row g-4">
      {% for a in as %}
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <h5 class="mb-0">{{ a.name }}</h5>
          <small>{{ a.message }}</small>
          <div class="d-flex justify-content-center mt-3">
            <div class="col-12">
              <a href="#" class="btn btn-primary py-2 px-4">READ MORE</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
